In [25]:
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np
csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0
'''

from io import StringIO
df = pd.read_csv(StringIO(csv_data))
print(df)
df.isnull().sum()

imr = SimpleImputer(missing_values = np.nan ,strategy = 'mean')
imr = imr.fit(df)

imputed_data = imr.transform(df.values)
imputed_data

      A     B    C    D
0   1.0   2.0  3.0  4.0
1   5.0   6.0  NaN  8.0
2  10.0  11.0  NaN  NaN

c:\Users\bahar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6.,  3.,  8.],
       [10., 11.,  3.,  6.]])

Encoder

In [36]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
data = pd.DataFrame([
['green', 'M', 10.1, 'class1'],
['red', 'L', 13.5, 'class2'],
['blue', 'XL', 15.3, 'class1']]) 


data.columns=['color', 'size', 'price', 'class_lable']
data

size_mapping = {'M' : 1,
                'L' : 2,
                'XL': 3}
data['size'] = data['size'].map(size_mapping)      
data

   color  size  price class_lable
0  green     1   10.1      class1
1    red     2   13.5      class2
2   blue     3   15.3      class1

In [37]:

class_le = LabelEncoder()
y=class_le.fit_transform(data['class_lable'].values) 



pd.get_dummies(data[['price','color','size','class_lable']])

,price,size,color_blue,color_green,color_red,class_lable_class1,class_lable_class2
0,10.1,1,0,1,0,1,0
1,13.5,2,0,0,1,0,1
2,15.3,3,1,0,0,1,0